.logo{
    width: 150px;
    border-radius: 100%;
}

.container{
    width: 400px;
    /* border: 2px solid black; */
    text-align: center;
    padding: 2rem;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.input{
    width: 80%;
    padding: .5rem .8rem;
}
.button{
    width: 100%;
    padding: .5rem 1rem;
    margin: .5rem;
}