.container{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
.image{
    width: 500px;
}
.profileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}